$grey: #f1f1f1;
$white: #ffffff;
$black: #000;
$black-russian: #00001a;
$pest: #16b68e;
$green: #49c245;
$light-green: #a4d17b;
$pink-coral: #e77471;
$dark-pink: #e93d8d;
$sky-blue: #85c1e9;
$steelblue: #2e86c1;
$beetlegreen: #4c787e;
$kashmir-blue: #5d6d7e;
$black-eel: #463e3f;
$strong-cyan: #1abc9c;
$dark-charcoal: #333;
$LightGray: #d3d3d3;
$orangered: #ff4500;
$cyber-orange: #eb7042;
$cinnabar: #f05024;
$pantone-col-grey-9-u: #85868a;
$light-grayish-blue: #6c757d;
$mourn-mountain-snow: #e7e8e9;
$Black-Olive: #3f3f40;
$overripe-blue: #0300b3;
$dark-blue: #495057;
$blue: #0400ff;
$grayish: #4e4b66;
$sadle-brown: #992900;
$PlatinumSilver: #cecece;
